* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic; */
}

@font-face {
    font-family: mifuente;
    src: url(../fuentes/BlackOpsOne-Regular.ttf);
}

@font-face {
    font-family: mifuente2;
    src: url(../fuentes/Poppins-ExtraBold.ttf);
}


body {
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;

}

header {
    color: white;
    background-image: url(/imagenes/fondo.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
    height: 800px;
    width: 101%;
   text-align: center;

}

h1 {
    position: absolute;
    left: 30px;
    bottom: 91%;
    font-size: 45px;
    color: rgb(255, 255, 255);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;

}

span {
    font-family: mifuente;
    font-weight: normal;
    color: rgb(255, 68, 0);
}

nav {
    
    display: flex;
    justify-content: center;
    margin: 20px;

}

nav a {
    margin: 30px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

li {
    list-style: none;
    
}

.blok {
    float: left;
    margin: -59px;
    margin-right: 20px;
  

} 

.blok img {
    width: 40px;
    margin: 10px;
}

nav a:hover {
    color: orangered;
    transition: linear 0.5s;
}


/* nav{
    display: flex;
    justify-content: center;
    margin: -10px;
}

nav a{
    margin: 20px;
    font-size: 30px;
    text-decoration: none;
    color: white;
}



.blok  {
  display: flex;
  float: right;
  margin: -25px;
  margin-right: 30px;

}

.blok img{
    width: 40px;
    margin: 10px;

} */


.carrucer {
    width: 960px;
    height: auto;
    margin: auto;

}

.carrucer ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: carrucer 20s infinite alternate ease-in-out;
}

.carrucer li {
    width: 400%;
    list-style: none;
    position: relative;
    margin-top: 2%;
}






.carrucer img {
    width: 600px;
    height: 600px;
    max-width: 1000px;
    object-fit: contain;
    overflow-x: hidden;
}

@keyframes carrucer {
    0% {
        margin-left: 0;
    }

    20% {
        margin-left: 0;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    100% {
        margin-left: -300%;
    }
}


aside h2 {
    text-align: center;
    color: #fff700;
    line-height: 3;
    font-size: 30px;
}

aside {
    background-color: rgb(255, 255, 255);
}

.contenedor2 {
    display: flex;
    justify-content: center;
}

.cont2 img {
    width: 1300px;
    height: 600px;
}

figure img {
    display: flex;
    flex-wrap: wrap;
}

aside img {
    width: 600px;
    height: 500px;
    object-fit: cover;
}

.contenedor {
    display: flex;
    justify-content: center;
    margin: 1px;
}

.categorias h5 {
    font-size: 40px;
    color: #fff;
   text-align: center;
   margin-top: 50px;
   font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.cont {
   
    text-align: center;
    margin: 40px;
}

.cont img {
    margin-top: 70px;
    max-width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid white;

}

.cont h3 {
    margin-top: 10px;
    font-size: 1.2em;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

/* h6{
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-left: 20px;
} */




.compra {
    position: relative;
    left: 20px;

}

.compra a {
    color: #ffffff;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    width: 350px;
    height: 40px;
    font-size: 25px;
    text-decoration: none;
    padding: 5px;
    background-color: rgb(254, 21, 21);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.compra a:hover {
    color: white;
    background-color: rgba(255, 0, 0, 0.975);
}

.imagen {
    width: 25px;
    height: 25px;
    float: right;
    position: relative;
    left: 105px;
    bottom: 98px;
}


.agregar {
    color: #000000;
    cursor: pointer;
    width: 0px;
    transform: translate(-30px);
    height: 20px;
    float: right;
    position: relative;
    bottom: 20px;
    left: 65px;
    border: none;

}



.cal {
    position: relative;
    left: -75px;
}

.sub h2 {
    font-size: 30px;
    text-align: center;
    color: #f4f4f4;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.agregar:hover {
    background-color: rgb(184, 184, 184);
}

ul {
    color: #000000;

}


.cor img {
    position: relative;
    left: -7px;
    bottom: 70px;
    float: right;
}




/* carrito de compras */

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

/* header {
    width: 100%;
    text-align: center;
} */

.productos {
    flex: 70%;
    display: flex;
    flex-wrap: wrap;

    gap: 80px;
    margin-top: 170px;


}



.producto img {
    width: 20px;


}




.producto {
    width: 25%;




    /*  margin-bottom: 20px; */
    /* padding: 10px; */

    margin-left: 40px;
    /* text-align: center; */
}

.producto h2 {
    text-align: left;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.producto p {
    line-height: 3;
    /*  text-align: left; */
    color: rgb(255, 0, 0);
    font-size: 20px;
    margin-left: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}



.producto img {
    width: 100%;
    display: flex;
    border-radius: 5px;
}

.producto a img {
    display: flex;
    justify-content: center;
    text-decoration: none;
    height: 40px;
    width: 40px;

}




.carrito {
    flex: 30%;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    overflow-y: scroll;
    height: 200px;
}

.carrito h2 {
    color: rgb(255, 68, 0);
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}


.carrito-producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}


.carrito-productos+p {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}



.lista-carrito {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
}

.lista-carrito li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.total {
    text-align: right;
    margin-bottom: 20px;
}

#total p {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.total h3 {
    margin-bottom: 5px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.pagar {
    width: 100px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.pagar:hover {
    background-color: #0056b3;
}



/* Media Query para hacer responsive */
@media screen and (max-width: 768px) {
    .producto {
        width: 100%;
    }

    .carrito {
        flex: 100%;
    }
}



menu-btn img {
    width: 18px;
    position: relative;
    left: 45px;


}

.container_prueba {
    position: relative;
    top: 100px;

}

.container {
    position: relative;
    width: 100%;

}



.menu-btn {
    border: solid transparent;
    position: relative;
    bottom: 195px;
    right: 30px;
    height: 60px;
    width: 90px;
    top: 400px;
    color: #fff;
    border: none;
    position: fixed;
    border-radius: 29px;
    cursor: pointer;
    z-index: 1;
    background-color: rgb(255, 68, 0);

}

.menu-items {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 300px;
    right: 10px;
   /*  background-color: rgba(217, 217, 217, 75%); */
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    

}

.menu-items a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: miFuentePath;
    border-top: solid 1px rgba(255, 255, 255, 0.705);


}

.menu-items li {
    border-bottom: 10px solid #555;


}

.menu-items a {
    display: block;
    padding: 10px;

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    width: 200px;
    text-align: center;

}

.menu-items a:hover {
    background-color: #555;
}


.menu-btn:focus+.menu-items,
.menu-items:hover {
    display: block;

}

.menu-items img {
    width: 20px;
    float: left;
}


.u img {
    width: 200px;
}





/* .carrito3 */

/* .carrito {
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 20px;
    width: 400px;
}

.carrito h2 {
    text-align: center;
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    
} */

.carrito-producto {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}


.carrito-productos+p {
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
}

.cantidad {
    display: flex;
    align-items: center;
}

.cantidad button {
    padding: 5px 10px;
    margin: 0 5px;
    cursor: pointer;
}





/* 
  .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: 100% ;
  }
  
  .contenedor-imagen {
    border: 3px solid black;
    height: 600px;
    margin: 10px;
    overflow: hidden;
    position: relative;
    width: 30%;

  }

.contenedor-imagen  img {
    height: 220%;
    width: 100%;

}

  .contenedor-imagen:hover img {
    filter: blur(1.5px);
    transition: all .3s;
  }
  
  .texto {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    display: none;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    transition: opacity 0.3s ease;
  }
  
  .contenedor-imagen:hover .texto {
    display: flex;
    opacity: 1;
    transition: opacity 0.3s ease;
  }
  
  .parrafo{
    color: rgb(255, 68, 0);
  }
  .titulo,
  .parrafo {
    margin: 10px;
    padding: 5px;
  }
  
  .contenedor-imagen::after {
    background-color: #fff;
    content: "";
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: all .3s;
    width: 80%;
    z-index: 3;
  }
  
  .contenedor-imagen:hover::after {
    left: 50%;
    transition: all .3s;
  }
   */















/* fovirito */



.products, .favorites {
    display: flex;
    flex-wrap: wrap;
    /* background-color: #000000ae; */
    height: 120px;
  }
  
  .product, .favorite-product {
     border: 1px solid #ddd; 
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
    position: relative;
    
  }
  
  .product img, .favorite-product img {
    width: 100%;
    height: auto;
    
  }
  
  .product-info, .favorite-product-info {
    margin-top: 10px;
   
  }
  
 

/* 
.favorite {
    position: absolute;
    top: -79px;
    right: 30px;
    cursor: pointer;
    font-size: 33px;
    color: #ffffff;
    font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-style: italic;
   border-color: red;
    
  }
  
 .favorite.active {
    color: red;
    
   
  }

.favorite-product a {
    text-decoration: none;
     color: inherit; 
  }
  
.favorite-product a:hover {
     text-decoration: underline; 
    
  }
  
   */


   .favorite {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 45px;
    position: relative;
    left: 368px;
    bottom: 128px;
  }
  
  .favorite.favorited {
    color: red;
  }
  
  .favorites .favorite-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .favorites .favorite-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  
  .favorites .favorite-item .info {
    flex-grow: 1;
  }
  
  .favorites .favorite-item .remove-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
  }
  



.menu-btn2 img {
    width: 40px;
    position: relative;
    left: -40px;
    bottom: 389px;
}
  
  
.container_prueba2 {
    position: relative;
    top: 10px;
    
  
  }
  
  
  
.menu-btn2 {
    position: relative;
    bottom: 195px;
    right: 200px;
     height: 0px;
    width: 0px; 
    top: 400px;
    background-color: transparent;
     position: fixed; 
    cursor: pointer;

  }
  
  .menu-items2 {
    position: absolute;
    top: 80px;
    right: 40px;
    background-color: #000000f0;
    color: #fff;
    box-shadow: 0px 0px 4px rgb(255, 68, 0);
    display: none;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    width: 400px;
    height: 300px;
    overflow: hidden;
    overflow-y: scroll;
  
  }
  
  
  .menu-items2 a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: miFuentePath;
    border-top: solid 1px rgba(255, 255, 255, 0.705);
  
  
  }
  
  .menu-items2 li {
    border-bottom: 10px solid #555;
  
  
  }
  
  .menu-items2 a {
    display: block;
    padding: 10px;
  
    text-decoration: none;
    color: #fff;
    font-size: 17px;
    width: 200px;
    text-align: center;
  
  }
  
  .menu-items2 a:hover {
    background-color: #555;
  }
  
  
  .menu-btn2:focus+.menu-items2,
  .menu-items2:hover {
    display: block;
  
  }
  
  /* .menu-items2 img {
    width: 20px;
    float: left;
  } */
  

.menu-items2 h2 {
    color: rgb(255, 68, 0);
    font-family: mifuente2;
   font-size: 20px;
    
  }






/* perfil */


  
.menu-btn3 img {
    width: 40px;
    position: relative;
    left: -145px;


}

.container_prueba3 {
    position: relative;
    top: 70px;

}

/* .container {
    position: relative;
    width: 100%;

} */



.menu-btn3 {
   
    position: relative;
    
    right: 150px;
    height: 60px;
    width: 0px;
    top: 10px;
    color: #fff;
    border: none;
   position: fixed;
   
    cursor: pointer;
    z-index: 1;
  

}

.menu-perfil {
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    top: 100px;
    right: 10px;
     background-color: rgb(255, 255, 255); 
    color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 1;
    padding: 5px;
    border-radius: 5px;
    position: fixed;
    width: 380px;
    height: 400px;
    

}

.menu-perfil h3 {
    margin-left: 20px;
    text-align: center;
    color: rgb(255, 68, 0);
    font-family: mifuente2;
    font-size: 35px;
    /* font-weight: 0;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic; */
}

/* .menu-perfil a {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-family: miFuentePath;
    border-top: solid 1px rgba(255, 255, 255, 0.705);


} */





/* .menu-perfil a {
    display: block;
    padding: 10px;

    text-decoration: none;
    color: #fff;
    font-size: 17px;
    width: 200px;
    text-align: center;

} */

.menu-perfil a:hover {
    background-color: #555;
}


.menu-btn3:focus+.menu-perfil,
.menu-perfil:hover {
    display: block;

}

.menu-perfil img {
    width: 20px;
    float: left;
}



.cargar-imagen img {
    width: 150px;
    height: 150px;
    margin-left: 125px;
    margin-top: 20px;
    border: 1px solid  #ff4400;
    border-radius: 55%;
   
}


.cargar-imagen input {
    margin-top: 20px;
   margin-left: 130px;
}

.cargar-imagen button {
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
    background-color: #ff4400;
    color: #ffffff;
    border: none;
    font-size: 20px;
    width: 120px;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
   cursor: pointer;
}


/* boton de eliminar imagen */
.eliminar button {
    width: 0px;
    height: 0px;
  padding: 0px;

}

.eliminar img {
    width: 30px;
    height: 30px;
    position: relative;
    right: 70px;
    bottom: 170px;
    border: none;
   
}

.titinfo {
    position: relative;
    top: 270px;
    right: 190px;
}


.titinfo h4 {
    margin: 30px;
    padding: 5px;
    padding-inline-start: 15px;
    font-weight: normal;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 370px;
    margin-left: 240px;
    margin-top: -30px;
    border-radius: 10px;
    top: -200px;
    position: relative;
    color: gray;
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 20px;
}

.titinfo p:hover {
    background-color: gray;
}

.titinfo img {
    position: absolute;
    display: flex;
    justify-content: flex-start;
    margin-top: -255px;
    margin-left: 230px;
    width: 27px;
}

.titinfo p {
    background-color: gray;
    color: #ffffff;
    width: 290px;
    margin-left: 230px;
    padding-left: 10px;
    padding: 7px;
    position: relative;
    /* left: 50px; */
    top: -230px;
    border-radius: 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 20px;
}


.cerrar-sesion {
    position: relative;
    top: 90px;
    left: 50px;
   
}


.cerrar-sesion a {
    text-decoration: none;
   text-align: center;
  font-size: 25px;
  margin: 10px;
 color: #ffffff;
 width: 300px;
 margin-left: -50px;
 font-family: "Roboto", sans-serif;
 font-weight: 700;
 font-style: italic;
 padding: 5px;
 background-color: rgb(255, 0, 0);
 border-radius: 5px;
}

